/*=================================
=            Blog Page            =
=================================*/

#blog-page-content {
	background:#efeff0;
	padding-left: 3.125em;
	padding-right: 3.125em;
	padding-top: 5.000em;
	font-size: 16px;
	@include breakpoint(laptop) {
		font-size: 14px;
		padding-top: 3em;
		padding-bottom: 3em;
	}
	@include breakpoint(tablet) {
		font-size: 14px;
		padding:2em;
	}
	@include breakpoint(phone) {
		font-size: 14px;
		padding::2em;
		margin-bottom: 15px;
	}
	@include breakpoint(phone-xs) {
		font-size: 13px;
		padding:1em;
	}
	/* content */
	#blog-single-block {
		h2 {
			color:$blue;
			font-size: 2.8em;
			line-height: 1.3;
			letter-spacing: 4px;
			margin-bottom: 25px;
			@include breakpoint(laptop) {
				font-size: 2.4em;
			}
			@include breakpoint(phone) {
				font-size: 2.4em;
			}
			@include breakpoint(phone-xs) {
				font-size: 2.4em;
			}

		}
		h3, h4, h5, h6 {
			font-family: $font-main;
		}
		p {
			color:$text;
			line-height: 1.3;
			font-size: 1.3em;
			margin-bottom: 20px;
			strong {
				font-family: $fontsharpbold;
			}
		}
		ul {
			margin-top: 20px;
			margin-bottom: 20px;
			li {
				display: block;
				color:$text;
				line-height: 1.2;
				font-size: 1.2em;
				padding-top: 10px;
				padding-bottom: 10px;
				position: relative;
				padding-left: 15px;
				&:before {
					width: 6px;
					height: 6px;
					background:$blue;
					content:'';
					position: absolute;
					left:0px;
					top:17px;
					border-radius:50%;
				}
			}
		}
	}
	/* sidebar blog */
	#blog-sidebar {
		font-size: 16px;
		@include breakpoint(tablet) {
			font-size: 14px;
		}
		@include breakpoint(phone) {
			font-size: 15px;
			margin-top: 30px;
		}
		@include breakpoint(phone-xs) {
			margin-top: 30px;
			font-size: 14px;
		}
		#social-bar {
			background:$blue;
			padding:1.875em;
			@include breakpoint(tablet) {
				padding:1.5em;
			}
			h5 {
				color:$white;
				font-size: 1.3em;
				font-family: $font-heading;
				font-weight: $regular;
				margin-bottom: 20px;
			}
			a {
				display: inline-block;
				width: 36px;
				height: 36px;
				line-height: 40px;
				background:$yellow;
				border-radius:50%;
				margin-right: 10px;
				text-align: center;
				font-size: 0.8em;
				color:$blue-dark;
				position: relative;
				margin-bottom: 10px;
				@include breakpoint(tablet) {
					margin-right: 5px;
					width: 32px;
					height: 32px;
					line-height: 32px;
				}
				@include breakpoint(desktop) {
					margin-right: 5px;
				}
				&:after {
					width: 40px;
					height: 40px;
					border:1px solid $yellow;
					position: absolute;
					top:-2px;
					left:-2px;
					content:'';
					border-radius:50%;
					opacity: 0;
					@include breakpoint(tablet) {
						height: 34px;
						width: 34px;
					}
				}
				&:hover {
					background:$yellow;
					&:after {
						opacity: 1;
					}
				}				
			}
		}
		/* cateogry */
		.category-box {
			background:$blue;
			margin-top: 25px;
			position: relative;
			padding:1.875em;
			padding-top: 3.750em;
			@include breakpoint(phone) {
				height: auto!important;
				min-height: auto!important;
			}
			&:before {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 25px 25px 0 25px;
				border-color: #efeff0 transparent transparent transparent;
				content:'';
				@include centre(x);		
				top:0px;				
			}
			@include breakpoint(tablet) {
				padding:1.5em;
				padding-top: 3.5em;
			}
			h5 {
				text-transform: uppercase;
				color:$white;
				margin-bottom: 25px;
				font-size: 1em;
				letter-spacing: 2px;
				@include breakpoint(tablet) {
					font-size: 0.8em;
				}
			}
			ul {
				li {
					a {
						display: block;
						padding-top: 6px;
						padding-bottom: 6px;
						font-size: 1.1em;
						color:$white;
						&:hover {
							opacity: 0.5;
						}
					}
				}
			}
		}
	}
}

/*=====  End of Blog Page  ======*/

/*====================================
=            Blog Listing            =
====================================*/

#blog-listing-page {
	#blog-articles-list {
		background:#efeff0;
		padding-left: 3.125em;
		padding-right: 3.125em;
		font-size: 16px;	
		@include breakpoint(laptop) {
			font-size: 14px;
			padding-bottom: 2.5em;
		}
		@include breakpoint(tablet) {
			font-size: 13px;
			padding-left: 30px;
			padding-right: 30px;
		}
		@include breakpoint(phone) {
			padding-left: 15px;
			padding-right: 15px;
			font-size: 13px;
		}
		/* popuar */
		#popular-blogs {
			padding-bottom: 3.750em;
			header {
				padding-top: 1.875em;
				padding-bottom: 1.875em;
				text-align: center;
				h4 {
					color:$blue;
					font-size: 2.8em;
					letter-spacing: 2px;
				}
			}
		}	
		/* slider */
		.popular-articles-slider {
			.item {
				padding:10px;
			}
			.article-box {
				position: relative;
				overflow: hidden;
				&:hover {
					img {
						transform: scale(1.1);
						filter: grayscale(100%);
					}					
				}
				a {
					display: block;
					&:hover {
						.article-caption {
							background:rgba(0,0,0,0.5);
						}
					}
				}
				img {
					width: 100%;
				}
				.article-caption {
					@extend .dark-overlay;
					background:rgba(0,0,0,0.7);
					padding:15px;
					padding-top: 30px;
					color:$white;
					@include breakpoint(phone-lg) {
						padding:10px;
						padding-top: 20px;
					}
					h5 {
						font-size: 1.7em;
						line-height: 1.2;
						margin-bottom: 5px;
					}
					p {
						font-size: 1.2em;
						line-height: 1.2;
						max-width: 70%;
					}
				}
			}
		}
	}
	/* blog left col */
	#blog-left-column {
		font-size: 16px;
		@include breakpoint(laptop) {
			font-size: 14px;
		}
		@include breakpoint(tablet) {
			font-size: 14px;
		}
		@include breakpoint(phone) {
			font-size: 14px;
		}
		.blog-article {
			padding-bottom: 3.750em;
			@include breakpoint(phone) {
				padding-bottom: 3em;
			}
			.image-holder {
				margin-bottom: 1.875em;
				a {
					display: block;
				}
				img {
					width: 100%;
					@include breakpoint(phone) {
						height: 200px;
						object-fit: cover;
					}
				}
			}
			h3 {
				color:$blue;
				font-size: 2.7em;
				letter-spacing: 2px;
				margin-bottom: 15px;
				line-height: 1.3;
				@include breakpoint(phone) {
					font-size: 2.4em;
				}
			}
			p {
				color:$text;
				line-height: 1.3;
				font-size: 1.2em;
			}
			footer {
				.meta-info {
					padding-bottom: 35px;
					padding-top: 20px;
					ul {
						li {
							display: inline-block;
							a {
								display: inline-block;
								margin-right: 10px;
								color:$blue-dark;
								&:hover {
									color:$blue;
								}
							}							
						}
					}
				}
				.read-btn {
					display: block;
					width: 220px;
					height: 50px;
					line-height: 48px;
					border:2px solid $yellow;
					color:$text;
					text-align: center;
					font-size: 1.2em;
					letter-spacing: 2px;
					font-family: $fontzilaregular;
					@include breakpoint(laptop) {
						width: 180px;
					}
					@include breakpoint(tablet) {
						width: 180px;
					}
					&:hover {
						background:$yellow;
					}
				}
			}
		}
	}
	/* sidebar blog */
	#blog-sidebar {
		font-size: 16px;
		@include breakpoint(laptop) {
			font-size: 15px;
		}
		@include breakpoint(tablet) {
			font-size: 14px;
		}
		@include breakpoint(phone) {
			font-size: 14px;
			margin-top: 30px;
		}
		#social-bar {
			background:$blue;
			padding:1.875em;
			@include breakpoint(tablet) {
				padding:1.5em;
			}
			h5 {
				color:$white;
				font-size: 1.3em;
				font-family: $font-heading;
				font-weight: $regular;
				margin-bottom: 20px;
			}
			a {
				display: inline-block;
				width: 36px;
				height: 36px;
				line-height: 40px;
				background:$yellow;
				border-radius:50%;
				margin-right: 10px;
				margin-bottom: 10px;
				text-align: center;
				font-size: 0.8em;
				color:$blue-dark;
				position: relative;
				@include breakpoint(tablet) {
					margin-right: 5px;
					margin-bottom: 5px;
					width: 30px;
					height: 30px;
					line-height: 30px;
				}
				&:after {
					width: 40px;
					height: 40px;
					border:1px solid $yellow;
					position: absolute;
					top:-2px;
					left:-2px;
					content:'';
					border-radius:50%;
					opacity: 0;
					@include breakpoint(tablet) {
						width: 34px;
						height: 34px;
					}
				}
				&:hover {
					background:$yellow;
					&:after {
						opacity: 1;
					}
				}				
			}
		}
		/* cateogry */
		.category-box {
			background:$blue;
			margin-top: 25px;
			position: relative;
			padding:1.875em;
			padding-top: 3.750em;
			margin-bottom: -200px;
			@include breakpoint(phone) {
				height: auto!important;
				min-height: auto!important;
			}
			&:before {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 25px 25px 0 25px;
				border-color: #efeff0 transparent transparent transparent;
				content:'';
				@include centre(x);		
				top:0px;				
			}			
			@include breakpoint(tablet) {
				padding: .1.5em;
				padding-top: 3em;
			}
			h5 {
				text-transform: uppercase;
				color:$white;
				margin-bottom: 25px;
				font-size: 1em;
				letter-spacing: 2px;
				@include breakpoint(tablet) {
					font-size: 0.8em;
				}
			}
			ul {
				li {
					a {
						display: block;
						padding-top: 6px;
						padding-bottom: 6px;
						font-size: 1.1em;
						color:$white;
						&:hover {
							opacity: 0.5;
						}
					}
				}
			}
		}
	}	
}

/*=====  End of Blog Listing  ======*/

/*==================================
=            Pagination            =
==================================*/

#pagination-block {
	text-align: center;
	ul {
		li {
			display: inline-block;
			a {
				display: inline-block;
				font-size: 1em;
				padding:5px;
				padding-left: 5px;
				padding-right: 5px;
				color:$text;
				&:hover {
					color:$blue;
				}
			}
			&.prev-btn {
				a {
					background:$blue-dark;
					color:$white;
					padding-left: 10px;
					padding-right: 10px;
					position: relative;
					margin-right: 10px;
					&:before {
						position: absolute;
						@include centre(y);
						left: -7.5px;
						width: 10px;
						height: 10px;
						content:'';
						display: block;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 7.5px 10px 7.5px 0;
						border-color: transparent $blue-dark transparent transparent;						
					}
					&:hover {
						background:$yellow;
						color:$blue-dark;
						&:before {
							border-color: transparent $yellow transparent transparent;
						}
					}					
				}
			}
			&.next-btn {
				a {
					background:$blue-dark;
					color:$white;
					padding-left: 10px;
					padding-right: 10px;
					position: relative;
					margin-left: 10px;
					&:after {
						position: absolute;
						@include centre(y);
						right: -7.5px;
						width: 10px;
						height: 10px;
						content:'';
						display: block;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 7.5px 0 7.5px 10px;
						border-color: transparent transparent transparent $blue-dark;
					
					}
					&:hover {
						background:$yellow;
						color:$blue-dark;
						&:after {
							border-color: transparent transparent transparent $yellow;
						}
					}
				}
			}			
		}
	}
}

/*=====  End of Pagination  ======*/
