/*============================
=            Hero            =
============================*/

#hero-header {
	height:615px;
	background:#000;
	position: relative;
	font-size: 16px;
	@include small-lap {
		font-size: 15px;
		height: 500px;
	}
	@include breakpoint(laptop) {
		font-size: 14px;
		height: 500px;
	}
	@include breakpoint(tablet) {
		height: 350px;
		font-size: 14px;
	}
	@include breakpoint(phone) {
		font-size: 15px;
		height: 430px;
	}
	@include breakpoint(phone-xs)  {
		font-size: 14px;
		height: 400px;
	}
	#hero-slider {
		.item {
			img {
				width: 100%;
				height: 615px;
				object-fit: cover;
				@include small-lap {
					height: 500px;
				}
				@include breakpoint(laptop) {
					height: 500px;
				}
				@include breakpoint(tablet) {
					height: 350px;
				}
				@include breakpoint(phone) {
					height: 430px;
				}
				@include breakpoint(phone-xs)  {
					height: 400px;
				}
			}
		}
		/* caption */
		.slider-caption {
			@include centre(both);
			text-align: center;
			max-width: 900px;
			@include breakpoint(laptop) {
				width: 70%;
			}
			@include breakpoint(tablet) {
				width: 70%;
			}
			@include breakpoint(phone)  {
				width: 95%;
			}
			span.title {
				text-transform: uppercase;
				color:$yellow;
				font-family: $font-heading;
				font-size: 4em;
				display: block;
				letter-spacing: 6px;
				margin-bottom: 20px;
				@include breakpoint(tablet) {
					font-size: 3.4em;
					margin-bottom: 10px;
				}
				@include breakpoint(phone) {
					margin-bottom: 15px;
					font-size: 3.5em;
				}
				@include breakpoint(phone-xs)  {
					margin-bottom: 15px;
					font-size: 3.5em;
				}
			}
			p {
				color:$yellow;
				font-size: 2.5em;
				line-height: 1.4;
				@include breakpoint(laptop) {
					line-height: 1.2;
				}
				@include breakpoint(tablet) {
					line-height: 1.2;
					font-size: 2em;
				}
				@include breakpoint(phone) {
					font-size: 1.5em;
					line-height: 1.2;
				}
				@include breakpoint(phone-xs)  {
					font-size: 1.5em;
					line-height: 1.2;
				}
			}
		}
	}
}

/*=====  End of Hero  ======*/

/*========================================
=            Home About BLock            =
========================================*/

#main-home-content {
	#about-block {
		background:$blue-dark;
		min-height: 300px;
		position: relative;
		padding-left: 100px;
		font-size: 16px;
		@include small-lap {
			min-height: 225px;
			font-size: 15px;
		}
		@include breakpoint(laptop) {
			font-size: 14px;
			min-height: 250px;
			padding-left: 50px;
		}
		@include breakpoint(tablet) {
			font-size: 14px;
			padding-left: 30px;
			min-height: 250px;
		}
		@include breakpoint(phone)  {
			font-size: 14px;
			padding-left: 25px;
			min-height: auto;
		}
		&:hover {
			.page-link {
				background:$blue-light;
				width: 350px;
				@include small-lap {
					width: 275px;
				}
				@include breakpoint(tablet) {
					width: 250px;
				}
				&:before {
					border-color: transparent $blue-light transparent transparent;	
				}
			}
		}		
		/* content */
		.content {
			@include centre(y);
			padding-right: 450px;
			color:$white;
			@include breakpoint(tablet) {
				padding-right: 300px;
			}
			@include breakpoint(phone)  {
				@include clear-pos;
				padding-right: 15px;
				text-align: center;
				padding-top: 30px;
				padding-bottom: 30px;
			}
			h1 {
				color:$yellow;
				font-size: 2.5em;
				margin-bottom: 30px;
				letter-spacing: 4px;
				@include breakpoint(phone) {
					font-size: 2.3em;
					margin-bottom: 20px;
					letter-spacing: 3px;
				}
				@include breakpoint(phone-xs)  {
					font-size: 2em;
					margin-bottom: 20px;
					letter-spacing: 2px;
				}
			}
			p {
				line-height: 1.4;
				font-size: 1.3em;
				@include breakpoint(phone-xs)  {
					font-size: 1.2em;
				}
			}
		}
		/* link */
		.page-link {
			@include breakpoint(phone) {
				display: none;
			}
				display: block;
				background:$blue;
				width: 300px;
				height: 300px;
				position: absolute;
				right: 0px;
				top:0px;
				text-align: center;
				color:$blue-dark;
				font-size: 120px;
				@include slow-fade;
				@include small-lap {
					height: 225px;
					width: 250px;
				}
				@include breakpoint(laptop) {
					height: 250px;
					font-size: 100px;
				}
				@include breakpoint(tablet) {
					width: 230px;
					font-size: 100px;
					height: 250px;
				}
				&:before {
					content:'';
					width: 30px;
					height: 30px;
					@include centre(y);
					left:-25px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 25px 25px 25px 0;
					border-color: transparent $blue transparent transparent;		
					@include slow-fade;			
				}
				span {
					@include centre(both);
				}
		}
	}
}

/*=====  End of Home About BLock  ======*/

/*======================================
=            Features BLock            =
======================================*/

#main-home-content {
	#features-block {
		background:#f2f1f2;
		padding-top: 6.250em;
		padding-bottom: 6.250em;
		font-size: 16px;
		@include small-lap {
			padding-top: 4em;
			padding-bottom: 4em;
			font-size: 15px;
		}
		@include breakpoint(laptop) {
			font-size: 14px;
			padding-top: 4em;
			padding-bottom: 4em;
		}
		@include breakpoint(tablet) {
			font-size: 14px;
			padding-top: 4em;
			padding-bottom: 4em;
		}
		@include breakpoint(phone) {
			padding-top: 3em;
			padding-bottom: 3em;
			font-size: 14px;
		}
		.features-box {
			text-align: center;
			@include breakpoint(phone) {
				margin-bottom: 30px;
			}
			.icon-holder {
				position: relative;
				font-size: 100px;
				display: block;
				-webkit-font-smoothing: antialiased;		
				background:$yellow;
				color:$blue-dark;
				height: 220px;
				width: 220px;
				border-radius:50%;
				line-height: 220px;		
				margin:0px auto;	
				margin-bottom: 50px;	
				position: relative;
				@include breakpoint(tablet) {
					margin-bottom: 40px;
					font-size: 80px;
					width: 180px;
					height: 180px;
					line-height: 180px;
				}
				@include breakpoint(phone) {
					margin-bottom: 40px;
					width: 180px;
					height: 180px;
					line-height: 180px;
					font-size: 80px;
				}
				@include breakpoint(phone-xs) {
					margin-bottom: 40px;
					font-size: 70px;
					width: 170px;
					height: 170px;
					line-height: 170px;
				}
				&:after {
					pointer-events: none;
				    position: absolute;
				    width: 101%;
				    height: 101%;
				    border-radius: 50%;
				    content: '';
				    box-sizing: content-box;	
					top: -5px;
				    left: -6px;
				    padding: 2px;
				    z-index: 10;
				    opacity: 0;		
				    border:2px solid $blue-light;	    				
				}		
				span {
					z-index: 9999;
					position: relative;
					@include centre(both);
				}
				&:hover {
					background:$blue-light;
					span {
						font-size: 80px;
					}
					&:after {
						opacity: 1;
					}
				}
			}
			.title {
				text-transform: uppercase;
				font-size: 1.563em;
				font-family: $font-heading;
				color:$blue-dark;
				letter-spacing: 2px;
			}
		}
	}
}

/*=====  End of Features BLock  ======*/

/*======================================
=            Quesiton Block            =
======================================*/

#main-home-content {
	#question-block {
		height: 300px;
		font-size: 16px;
		background:$blue;
		@include small-lap {
			height: 250px;
			font-size: 15px;
		}
		@include breakpoint(laptop) {
			height: 250px;
			font-size: 14px;
		}
		@include breakpoint(tablet) {
			height: 250px;
			font-size: 14px;
		}
		@include breakpoint(phone) {
			height: 200px;
			font-size: 14px;
		}
		.content-box {
			@extend .content-box-ext;
			background:$blue;
			width: 25%;
			float: left;
			@include breakpoint(tablet) {
				width: 50%;
			}
			@include breakpoint(phone) {
				width: 50%;
			}
			&:after {
				content:'';
				width: 30px;
				height: 30px;
				@include centre(y);
				right:-25px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 25px 0 25px 25px;
				border-color: transparent transparent transparent $blue;	
				@include animate-fade;			
				z-index: 50;		
			}
			h3 {
				@include centered-heading();
				color:$yellow;
			}
		}
		.link-box {
			@extend .link-box-ext;
			background:$blue-dark;
			float: left;
			.icon-holder {
				@include centre(both);
				span {
					color:$white;
					font-size: 200px;
					display: block;
					@include animate-fade;
					@include breakpoint(laptop) {
						font-size: 150px;
					}
					@include breakpoint(tablet) {
						font-size: 150px;
					}
					@include breakpoint(phone-xs) {
						font-size: 130px;
					}

				}
			}
		}
		.image-box {
			float: right;
			@extend .image-box-ext;
		}
		a {
			&:hover {
				img {
					transform: scale(1.1);
					filter: grayscale(100%);
				}
				.content-box {
					background:$blue-dark;
					width: 28%;
					@include breakpoint(tablet) {
						width: 60%;
					}
					@include breakpoint(phone) {
						width: 50%;
					}
					&:after {
						border-color: transparent transparent transparent $blue-dark!important;	
					}					
				}
				.link-box {
					background:$blue;
					width: 22%;
					@include breakpoint(tablet) {
						width: 40%;
					}
					@include breakpoint(phone) {
						width: 50%;
					}
					span {
						transform: scale(0.8)!important;
					}
				}
			}
		}		
	}
}

/*=====  End of Quesiton Block  ======*/
	
/*==================================
=            Formations            =
==================================*/

#main-home-content {
	#formations-block {
		height: 300px;
		font-size: 16px;
		@include small-lap {
			height: 250px;
			font-size: 15px;
		}
		@include breakpoint(laptop) {
			height: 250px;
			font-size: 14px;
		}
		@include breakpoint(tablet) {
			height: 250px;
			font-size: 14px;
		}
		@include breakpoint(phone) {
			height: 200px;
			font-size: 14px;
		}
		.content-box {
			@extend .content-box-ext;
			background:$blue-dark;
			width: 25%;
			float: right;
			@include breakpoint(tablet) {
				width: 50%;
			}
			@include breakpoint(phone) {
				width: 50%;
			}
			&:after {
				content:'';
				width: 30px;
				height: 30px;
				@include centre(y);
				left:-25px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 25px 25px 25px 0;
				border-color: transparent $blue-dark transparent transparent;
				@include animate-fade;			
				z-index: 555;		
			}
			h3 {
				@include centered-heading();
				color:$yellow;
			}
		}
		.link-box {
			@extend .link-box-ext;
			background:$blue;
			float: right;
			.icon-holder {
				@include centre(both);
				span {
					color:$white;
					font-size: 200px;
					display: block;
					@include animate-fade;
					@include breakpoint(laptop) {
						font-size: 150px;
					}
					@include breakpoint(tablet) {
						font-size: 180px;
					}
					@include breakpoint(phone-xs) {
						font-size: 120px;
					}

				}
			}
		}
		.image-box {
			float: left;
			@extend .image-box-ext;
		}
		a {
			&:hover {
				img {
					transform: scale(1.1);
					filter: grayscale(100%);
				}
				.content-box {
					background:$blue;
					width: 28%;
					@include breakpoint(tablet) {
						width: 60%;
					}
					@include breakpoint(phone) {
						width: 50%;
					}
					&:after {
						border-color: transparent $blue transparent transparent;
					}					
				}
				.link-box {
					background:$blue-dark;
					width: 22%;
					@include breakpoint(tablet) {
						width: 40%;
					}
					@include breakpoint(phone) {
						width: 50%;
					}
					span {
						transform: scale(0.8)!important;
					}
				}
			}
		}			
	}
}

/*=====  End of Formations  ======*/

/*=====================================
=            Contact Block            =
=====================================*/

#main-home-content {
	#contact-block {
		background:$blue-dark;
		height: 300px;
		font-size: 16px;
		@include small-lap {
			height: 250px;
			font-size: 15px;
		}
		@include breakpoint(laptop) {
			height: 250px;
			font-size: 14px;
		}
		@include breakpoint(tablet) {
			height: 250px;
			font-size: 14px;
		}
		@include breakpoint(phone) {
			font-size: 14px;
			height: 200px;
		}
		.content-box {
			@extend .content-box-ext;
			background:$blue-dark;
			width: 25%;
			float: left;
			@include breakpoint(tablet) {
				width: 50%;
			}
			@include breakpoint(phone) {
				width: 50%;
			}
			&:after {
				content:'';
				width: 30px;
				height: 30px;
				@include centre(y);
				right:-25px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 25px 0 25px 25px;
				border-color: transparent transparent transparent $blue-dark;	
				@include animate-fade;			
				z-index: 50;		
			}
			h3 {
				@include centered-heading();
				color:$yellow;
			}
		}
		.link-box {
			@extend .link-box-ext;
			background:$blue;
			float: left;
			.icon-holder {
				@include centre(both);
				span {
					color:$white;
					font-size: 160px;
					display: block;
					@include animate-fade;
					@include breakpoint(laptop) {
						font-size: 120px;
					}
					@include breakpoint(tablet) {
						font-size: 130px;
					}
					@include breakpoint(phone-xs) {
						font-size: 100px;
					}

				}
			}
		}
		/* test */
		.slider-box {
			background:$yellow;
			height: 100%;
			position: relative;
			width: 50%;
			float: right;
			@include breakpoint(tablet) {
				width: 100%;
				height: auto;
				padding-top: 50px;
				padding-bottom: 50px;
			}
			@include breakpoint(phone) {
				width: 100%;
				height: auto;
				padding-top: 20px;
				padding-bottom: 20px;
			}
			.slider-holder {
				width: 80%;
				@include centre(both);
				@include breakpoint(tablet) {
					@include clear-pos;
					width: 100%;
				}
				@include breakpoint(phone) {
					width: 100%;
					@include clear-pos;
				}
				.testimonial-slider {
					.item {
						padding:50px;
						.test-box {
							text-align: center;
							position: relative;
							&:before {
								@include custom-ico;
								content:'\e90b';
								color:$blue;
								font-size: 50px;
								position: absolute;
								top:-30px;
								left:-30px;
							}
							&:after {
								@include custom-ico;
								content:'\e90a';
								color:$blue;
								font-size: 50px;
								position: absolute;
								bottom:-30px;
								right:-30px;
							}							
							p {
								font-family: $font-alt;
								color:$blue-dark;
								line-height: 1.3;
								font-size: 1.5em;
								position: relative;
								z-index: 100;

							}
						}
					}
				}
			}
		}
		a {
			&:hover {
				img {
					transform: scale(1.1);
					filter: grayscale(100%);
				}
				.content-box {
					background:$blue;
					width: 28%;
					@include breakpoint(tablet) {
						width: 60%;
					}
					@include breakpoint(phone) {
						width: 50%;
					}
					&:after {
						border-color: transparent transparent transparent $blue;	
					}					
				}
				.link-box {
					background:$blue-dark;
					width: 22%;
					@include breakpoint(tablet) {
						width: 40%;
					}
					@include breakpoint(phone) {
						width: 50%;
					}
					span {
						transform: scale(0.8)!important;
					}
				}
			}
		}			
	}
}

/*=====  End of Contact Block  ======*/

/*================================
=            Blog Box            =
================================*/

#main-home-content {
	#blog-block {
		height: 300px;
		font-size: 16px;
		@include small-lap {
			height: 250px;
			font-size: 15px;
		}
		@include breakpoint(laptop) {
			height: 250px;
			font-size: 14px;
		}
		@include breakpoint(tablet) {
			height: 250px;
			font-size: 14px;
		}
		@include breakpoint(phone) {
			height: 200px;
			font-size: 14px;
		}
		.content-box {
			@extend .content-box-ext;
			background:$blue-dark;
			float: right;
			&:after {
				content:'';
				width: 30px;
				height: 30px;
				@include centre(y);
				left:-25px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 25px 25px 25px 0;
				border-color: transparent $blue-dark transparent transparent;
				@include animate-fade;			
				z-index: 555;		
			}
			h3 {
				@include centered-heading();
				color:$yellow;
			}
		}
		.link-box {
			@extend .link-box-ext;
			background:$blue;
			float: right;
			.icon-holder {
				@include centre(both);
				span {
					color:$white;
					font-size:130px;
					display: block;
					@include animate-fade;
					@include breakpoint(laptop) {
						font-size: 100px;
					}
					@include breakpoint(tablet) {
						font-size: 100px;
					}
					@include breakpoint(phone-xs) {
						font-size: 80px;
					}

				}
			}
		}
		.image-box {
			float: left;
			@extend .image-box-ext;
			img {
				width: 100%;
			}
		}
		a {
			&:hover {
				img {
					transform: scale(1.1);
					filter: grayscale(100%);
				}
				.content-box {
					background:$blue;
					width: 28%;
					@include breakpoint(tablet) {
						width: 60%;
					}
					@include breakpoint(phone) {
						width: 50%;
					}
					&:after {
						border-color: transparent $blue transparent transparent;
					}					
				}
				.link-box {
					background:$blue-dark;
					width: 22%;
					@include breakpoint(tablet) {
						width: 40%;
					}
					@include breakpoint(phone) {
						width: 50%;
					}
					span {
						transform: scale(0.8)!important;
					}
				}
			}
		}			
	}
}

/*=====  End of Blog Box  ======*/
