<aside id="blog-sidebar">
                          
  <div id="social-bar" class="hidden-xs">
      <h5>{{ i18n "follow_us" }}</h5>
      {{with .Site.Data.settings.socials.twitter}}
      <a href="{{.}}" target="_blank"><span class="icon-twitter"></span></a>
      {{ end }}
      {{with .Site.Data.settings.socials.facebook}}
      <a href="{{.}}" target="_blank"><span class="icon-fb"></span></a>
      {{ end }}
      {{with .Site.Data.settings.socials.linkedin}}
      <a href="{{.}}" target="_blank"><span class="icon-linkedin"></span></a>
      {{ end }}
      {{with .Site.Data.settings.socials.google}}
      <a href="{{.}}" target="_blank"><span class="icon-googleplus"></span></a>
      {{ end }}                               
  </div>
  <!-- // socials  -->

  <div class="category-box">
      <h5>{{ i18n "article_subject" }}</h5>
      {{ $tags := $.Site.Taxonomies.categories.ByCount }}
      <ul>
        {{ if eq .Lang "fr" }}
        {{ range $tags }}
        <li><a href="{{ $.Site.BaseURL }}categories/{{ .Term | urlize }}">{{ .Term }}</a></li>
        {{ end }}
        {{ else if eq .Lang "en" }}
        {{ range $tags }}
        <li><a href="{{ $.Site.BaseURL }}en/categories/{{ .Term | urlize }}">{{ .Term }}</a></li>
        {{ end }}
        {{ end }}               
      </ul>
  </div>
  <!-- // category  -->

</aside>