
@font-face {
    font-family: $headerfont;
    src: url("/assets/css/fonts/sharpsansbold/SharpSansDispNo1-Bold.eot");
    src: url("/assets/css/fonts/sharpsansbold/SharpSansDispNo1-Bold.woff") format("woff"),
    url("/assets/css/fonts/sharpsansbold/SharpSansDispNo1-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: $headerfont;
    src: url("/assets/css/fonts/sharpsansbold/SharpSansDispNo1-BoldIt.eot");
    src: url("/assets/css/fonts/sharpsansbold/SharpSansDispNo1-BoldIt.woff") format("woff"),
    url("/assets/css/fonts/sharpsansbold/SharpSansDispNo1-BoldIt.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: $headerfont;
    src: url("/assets/css/fonts/sharpsansbook/SharpSansDispNo1-Book.eot");
    src: url("/assets/css/fonts/sharpsansbook/SharpSansDispNo1-Book.woff") format("woff"),
    url("/assets/css/fonts/sharpsansbook/SharpSansDispNo1-Book.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: $headerfont;
    src: url("/assets/css/fonts/sharpsansbook/SharpSansDispNo1-BookIt.eot");
    src: url("/assets/css/fonts/sharpsansbook/SharpSansDispNo1-BookIt.woff") format("woff"),
    url("/assets/css/fonts/sharpsansbook/SharpSansDispNo1-BookIt.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}