{{ define "main" }}
<main class="main">
	<header id="inner-header" class="single-article-header">
      <img src="/img/headers/contact.jpg" alt="" class="img-responsive">
      <div class="overlay"></div>
      <div class="header-caption">
          <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, placeat? Animi, excepturi!</h1>
          <div class="meta-info">
              <span>Par: Nom Field</span>
          </div>
      </div>
      <!-- // caption  -->
  </header>
  <!-- // inner header  -->

  <section id="inner-page-content">
      <div class="container">
          
          <div id="blog-page-content">
          <div class="row">
              <div class="col-lg-9 col-md-8 col-sm-8">
                  <article id="blog-single-block">
                      <h2>Différenciation retardée</h2>
                      <p>tLa différenciation retardée est une stratégie visant une meilleure organisation de la production, en ne personnalisant la demande du client qu’à la toute fin du cycle de production. La complexité des échanges et la demande croissante de plus en plus précise des consommateurs nécessitent une massification de la production. La technique de différenciation retardée répond aux différentes caractéristiques recherchées par les consommateurs :</p>
                      <ul>
                      <li>Des prix réduits </li>
                      <li>De courts délais de livraison</li>
                      <li>Pouvoir commander au moment et à l’endroit désiré </li>
                      </ul>
                      <p>Le rendement engendré par une production en grande série d’une gamme de produits dont les éléments de base sont communs permet à l’entreprise d’adapter son produit fini tout en le spécialisant à une demande dite individuelle. La standardisation des procédés permet à l’entreprise de produire des stocks dont la composition est identique, ce qui engendre notamment des économies d’échelle puisque le flux de production est plus grand au début de la chaîne logistique. 
Établir sa gamme de produits en configurant spécifiquement les produits à la demande d’un client permet de : </p>
<ul>
<li> Diminuer les pertes sur la matière première</li>
<li> Optimiser l’utilisation des divers outils de fabrication</li>
<li> Prévoir les ventes et estimer les gains réalisables</li>
<li> Stocker la marchandise prête à être personnalisée</li>
<li> Veiller à satisfaire rapidement la demande</li>
<li> Augmenter la flexibilité du processus de production</li>
<li> Optimiser les coûts de production</li>
<li> Harmoniser les exigences de production aux contraintes du marché</li>
<li> Personnaliser un produit sur les lieux de ventes</li>
<li> Réduire les risques associés en retardant les décisions</li>
</ul>
<p>
La différentiation retardée se déploie soit dans l’étape de fabrication du produit, ou encore en fonction des territoires de vente. L’entreprise apportera donc des modifications dans sa séquence d’activités en se concentrant sur l’un des deux axes. Pour ce faire, trois concepts sont essentiels : la standardisation en amont de la chaîne logistique par l’utilisation de processus de fabrication communs, la conception séquentielle, soit le préassemblage de produits semi-finis, et la modification de la structure de la chaîne afin de retarder le montage final du produit. Le temps est un élément clé dans la mise en place d’une telle stratégie en raison des changements apportés à la logistique. Il s’agit de trouver l’étape à laquelle le produit se différencie en </p>
                  </article>
                  <!-- // blg single  -->                        
              </div>
              <!-- // article  -->
              <div class="col-lg-3 col-md-4 col-sm-4">
                  <aside id="blog-sidebar">
                      
                      <div id="social-bar">
                          <h5>Suivez-nous sur :</h5>
                          <a href="#" target="_blank"><span class="icon-twitter"></span></a>
                          <a href="#" target="_blank"><span class="icon-fb"></span></a>
                          <a href="#" target="_blank"><span class="icon-linkedin"></span></a>
                          <a href="#" target="_blank"><span class="icon-googleplus"></span></a>                                
                      </div>
                      <!-- // socials  -->

                      <div class="category-box">
                          <h5>ARTICLE PAR SUJET</h5>
                          <ul>
                              <li><a href="#">Ulparcie</a></li>
                              <li><a href="#">Delentemo</a> </li>
                              <li><a href="#">Verspic</a> </li>
                              <li><a href="#">Opsant</a> </li>
                          </ul>
                      </div>
                      <!-- // category  -->

                  </aside>
              </div>
              <!-- // blog sidebar  -->
          </div>
          <!-- // row  -->

          </div>
          <!-- // blog page  -->


      </div>
      <!-- // . container  -->
  </section>
  <!-- // inner page  -->
</main>
{{ end }}