{{ define "main" }}
<header id="inner-header">
    <img src="/img/ateliers-decouverte.jpg" alt="" class="img-responsive">
    <div class="header-caption">
        
    </div>
    <!-- // caption  -->
</header>
<!-- // inner header  -->

<div id="atelier-content">
   <div class="container">
       
        <div class="intro-block">
            <h1>NOS ATELIERS «DÉCOUVERTES»</h1>
            <!-- <img src="/img/logos/LOGO_Logistique40.png" alt=""> -->
            <p>Nous proposerons l’organisation d’ateliers qui permettront de découvrir les technologies émergentes, d’apprendre comment bien choisir les outils répondant le mieux aux besoins des entreprises, voire d’expérimenter ou d’essayer avant d’investir.</p>
            <p><strong>Voici comment sont déclinés nos ateliers «découvertes» :</strong> </p>
        </div>
        <!-- // intro  -->

        <div class="content-block">
            <h3>Découvrir</h3>
            <p>Un atelier pour découvrir les nouvelles tendances ERP, WMS, TMS, CRM, RFID, GSM 128 et comment ses outils améliorent la productivité et la rentabilité des entreprises</p>
            <h3>Choisir</h3>
            <p>Un atelier pour connaître les étapes essentielles à une démarche de sélection de l’outil qui répond le mieux à vos besoins </p>
            <h3>Essayer</h3>
            <p>Un atelier qui vous permettra de toucher, voir et comprendre le fonctionnement des différents outils</p>
            <h3>Cadrer</h3>
            <p>Un atelier personnalisé dans votre entreprise qui vous permettra de valider vos choix et d’identifier les améliorations possibles</p>
        </div>
        <!-- // content block  -->         

        <div class="content-block no-margin">
            <p><strong>Chaque atelier sera d’une durée de 1h30 et sera offert localement dans une salle appropriée sur le territoire concerné.  Si vous êtes intéressés à faire bénéficier de ces ateliers aux membres de votre organisation, contactez-nous et il nous fera un plaisir de les organiser avec vous.</strong></p>
            {{- partial "site/parici.html" . -}}
        </div>
        <!-- // content block  -->                                          

   </div>
   <!-- // container  -->
</div>
<!-- // foramtion content  -->
{{ end }}