{{ define "main" }}
<header id="yellow-header" class="blue-header">
    <div class="container">
       <img src="/img/logos/LOGO_Logistique40.png" alt="" class="img-responsive"> 
    </div>
</header>
<!-- // inner header  -->

<div id="innovation-content">
    <div class="container">
        
        <div class="content-block hyphenate">
            <h2>Contexte de la 4e Révolution industrielle</h2>
            <p>La montée d'internet depuis les dernières décennies a permis d'accomplir
            d'importants progrès technologiques. La communication en temps réel est
            devenue un enjeu clé pour les entreprises afin d'agir rapidement sur les activités
            opérationnelles. L'interconnectivité des systèmes, à travers la chaîne logistique, et
            des humains accroit l'efficience et la performance des procédés de fabrication. Le
            principe de faire mieux avec moins prime de plus en plus : économie d'échelle,
            coûts réduits, meilleure qualité et hausse d'efficacité sont des critères
            primordiaux à la croissance et à la prospérité à long terme des PME québécoises
            dans un marché où la concurrence se fait de plus en plus ressentir.</p>
            <p>Générer des décisions rapidement et obtenir de la flexibilité dans les méthodes de
            travail pour s'ajuster au contexte de la quatrième révolution industrielle demande
            l'adoption de techniques et technologies plus sophistiquées ainsi que des systèmes
            « autonomes » qui permettent le transfert des données. La production de masse se
            transforme de plus en plus en production personnalisée en utilisant les techniques
            de différenciation retardée. Ces changements dans les modes de production
            engendrent notamment des économies d'énergie et de matière, une diminution des
            bris mécaniques et donc un gain de productivité.</p>
        </div>
        <!-- // content block  -->

        <div class="content-block hyphenate">
            <h2>La logistique 4.0 : <span>une solution gagnante</span></h2>
            <p>La logistique 4.0 rassemble une série de technologies vous permettant de redéfinir
            l'expérience client grâce à des processus personnalisés et innovants vous permettant
            de croître et prospérer à long terme. Elle s'édifie sur les principes suivants :
            connectivité et accessibilité. Par la connectivité des logiciels et des équipements,
            le partage de données et le développement technologiques des procédés, la
            cybersécurité et l'automatisation, votre performance opérationnelle de votre
            chaîne logistique augmentera significativement. Cela vous permettra notamment:</p>
            <ul>
               <li> D'allouer vos ressources plus efficacement</li>
                <li> De réaliser des économies</li></li>
                <li> D’obtenir des diagnostics quant au fonctionnement de vos systèmes</li>
                <li> D'augmenter votre valeur ajoutée grâce à des indicateurs de performance</li>
                <li> De suivre vos résultats en temps réel</li>
                <li> De réduire les pressions environnementales</li>
            </ul>
        </div>
        <!-- // content block  -->

        <div class="content-block hyphenate">
            <h2>Conférence et ateliers découverte</h2>
            <p>Grâce à nos solutions logicielles, vos équipements autonomes et la formation de
            votre personnel, votre passage vers la logistique 4.0 vous permettra de demeurer
            compétitif et de vous démarquer de vos concurrents. Nous vous proposons donc
            une solution à titre de levier de performance tout en vous aidant à améliorer
            continuellement vos pratiques de gestion de votre chaîne logistique. En
            participant à nos ateliers, vous serez à même de découvrir plus en détail l’univers
            de la logistique 4.0.</p>

            <footer>
                <a href="/logistic-4-0/conferences" class="read-btn">Découvrir nos conférences</a>
                <a href="/logistic-4-0/formations" class="read-btn">Découvrir nos formations</a>
            </footer>
                    
        </div>
        <!-- // content block  -->                                

    </div>
    <!-- // container  -->
</div>
<!-- // logistique  -->
{{ end }}