{{ define "main" }}
<main class="main" id="iilq">
	<header id="inner-header">
      <img src="/img/qui-sommes-nous.jpg" alt="" class="img-responsive">
      <div class="header-caption">
          
      </div>
      <!-- // caption  -->
  </header>
  <!-- // inner header  -->

  <section id="inner-page-content">
      <div class="container">
          
          <a href="#">
          <div id="intro-block">
              <div class="content">
                  <p>L'IILQ est un centre collégial de transfert de technologies affilié au Cégep André-Laurendeau et reconnu par le ministère de l’Enseignement supérieur depuis 2008. L’IILQ offre des services d’aide technique, de recherche appliquée, de formation et de sensibilisation dans le domaine de la logistique auprès des PME du Québec.</p>
              </div>
              <!-- // content  -->
              <div class="page-link">
                  <span class="icon-logosmall"></span>
              </div>
              <!-- // pag elink  -->                    
          </div>
          <!-- // intro block  -->
          </a>

          <div id="features-block">
              <div class="row">
                  
									<div class="col-sm-4">
                      <div class="features-box">
                          <div class="icon-holder">
                              <img src="/img/ico/iris.svg" alt="">
                          </div>
                          <!-- // icon  -->
                      </div>
                  </div>
                  <!-- // features box  -->

                  <div class="col-sm-4">
                      <div class="features-box">
                          <div class="icon-holder target-icon">
                              <img src="/img/ico/target.svg" alt="">
                          </div>
                          <!-- // icon  -->
                      </div>
                  </div>
                  <!-- // features box  -->

                  <div class="col-sm-4">
                      <div class="features-box">
                          <div class="icon-holder head-icon">
                             <img src="/img/ico/icone-valeur.png" alt="">
                          </div>
                          <!-- // icon  -->
                      </div>
                  </div>
                  <!-- // features box  -->                                                

              </div>
              <!-- // .row  -->
          </div>
          <!-- // features block  -->     
          
          <div id="inner-content">
              <h2>Vision</h2>
              <p>L’IILQ est devenu un Centre d’excellence dans les technologies de la logistique en s’appuyant sur l’effet de levier que représente son écosystème de développement d’applications mobiles, son laboratoire des technologies de la logistique et ses partenariats avec des partenaires publics et privés.</p>
              <h2>Mission</h2>
              <p>La mission de l’IILQ est d’augmenter la performance et la productivité des PME du Québec en renforçant les processus d’innovation qui permettront l’amélioration continue de leurs fonctions logistiques.</p>
              <h2>Valeurs organisationnelles</h2>
              <p>Afin de favoriser le développement de la productivité au sein des PME du Québec, l’IILQ offre des services innovants de transfert de technologie dans son champ d’expertise de façon objective et indépendante de manière à fournir la solution la mieux adaptée aux besoins de ses clients.</p>
          </div>
          <!-- // inner content -->

      </div>
      <!-- // . container  -->
  </section>
  <!-- // inner page  -->
</main>
{{ end }}