{{ define "main" }}
<header id="inner-header">
    <img src="/img/groupe-innovation.jpg" alt="" class="img-responsive">
    <div class="header-caption">
        
    </div>
    <!-- // caption  -->
</header>
<!-- // inner header  -->

<div id="groupe-content">
   <div class="container">
       
        <div class="intro-block">
            <h1>LE GROUPE D'INNOVATION</h1>
        </div>
        <!-- // intro  -->

        <div class="content-block no-margin hyphenate">
            <p>Pour certaines entreprises ayant des problématiques spécifiques, nous proposerons la mise en place de groupe d’innovation regroupant de 4 à 8 entreprises afin d’initier une démarche conjointe.</p>  
            <h6>Cette démarche inclut les activités suivantes : </h6>
            <ul>
                <li>Diagnostiquer de façon détaillée chaque entreprise</li>
                <li>Identifier les enjeux communs</li>
                <li>Définir les solutions potentielles</li>
                <li>Choisir une solution à développer</li>
                <li>Préparer une proposition de projet</li>
                <li>Obtenir du financement</li>
                <li>Réaliser le projet</li>
            </ul>
        </div>
        <!-- // content block  -->         

        <div class="content-block no-margin hyphenate">
            <p><strong>Le groupe d’innovation est une formule qui nécessite une démarche de plusieurs mois pour lequel nous ferons une demande d’aide financière afin d’absorber une bonne partie des coûts de fonctionnement. Chaque entreprise participante aura à contribuer à une partie du financement en fonction du nombre de participants dans le groupe et de la durée de la démarche. Si vous êtes intéressés à participer à un groupe d’innovation dans votre région, contactez-nous et il nous fera un plaisir de vous trouver un groupe répondant à vos besoins.</strong></p>
            {{- partial "site/parici.html" . -}}
        </div>
        <!-- // content block  -->                                          

   </div>
   <!-- // container  -->
</div>
<!-- // foramtion content  -->
{{ end }}