{{ define "main" }}
<header id="yellow-header">
    <div class="container">
       <img src="/img/logos/InnovationLogisque.png" alt="" class="img-responsive"> 
    </div>
</header>
<!-- // inner header  -->

<div id="innovation-content">
    <div class="container">
        
        <div class="content-block">
            <h2>Innovation</h2>
            <p>À l’IILQ, nous avons comme objectif de maximiser votre productivité et d’exploiter
                votre plein potentiel en vous offrant un service intégré à la fine pointe de la
                technologie. Nous croyons que l’adoption de technologies sophistiquées et de
                procédés logistiques améliorés est un facteur clé conduisant au succès et à la
                pérennité des entreprises d’ici.</p>
                <p>
                Lorsqu’une solution n’est pas disponible sur le marché, nous concevons des
                technologies sur mesure adaptées à vos processus d’affaires. Nous pouvons
                travailler au développement de nouveaux outils mobiles et de plateformes d’intermédiation
                vous permettant d’améliorer votre chaine logistique, de votre flux
                d’information au déplacement de vos employés et de vos marchandises.</p>
                <!-- <p>
                Par exemple, nous avons conçu un outil mobile sur Android qui permet de gérer les
                activités des apiculteurs de la ruche jusqu’à la mise en pot du miel. Cette application
                gère les déplacements sur les sites, cartographie le travail effectué sur chaque
                ruche, fournit des rapports de productivité quotidiens et permet la planification
                du travail sur plusieurs jours. C’est un outil de traçabilité et de gestion de la
                productivité performant.</p> -->
        </div>
        <!-- // content block  -->

        <div class="content-block">
            <h2>Mobile</h2>
            <p>Les téléphones intelligents et les tablettes sont dotés de lecteurs à codes-barres,
                de lecteurs NFC qui permettent de lire des étiquettes RFID ou des cartes à puce,
                de GPS qui permettent la géolocalisation, etc. Tous ces outils ouvrent la voie à de
                nouvelles applications logistiques. Ainsi, nous travaillons avec vous à développer
                des applications mobiles (Android, IOS, HTML5) qui mettent à profit ces nouvelles
                possibilités.</p>
        </div>
        <!-- // content block  -->

        <div class="content-block">
            <h2>Intégrée</h2>
            <p>La plupart des entreprises disposent de différents logiciels pour gérer plusieurs
                    des fonctions logistiques. Trop souvent, ces logiciels ne sont pas intégrés les uns
                    aux autres et travaillent en silo, c’est-à-dire qu’il n’existe aucun échange d’information
                    entre eux. Afin de permettre l’interconnexion des différents logiciels, les
                    informations produites par un logiciel doivent être imprimées et retranscrites
                    dans un autre destiné aux fonctions de gestion différentes. Ce fonctionnement
                    entraîne une redondance du travail, des risques d’erreurs de retranscription, une
                    perte de productivité et des coûts additionnels. Le processus est le même lorsqu’il
                    est question de partager votre de l’information avec vos fournisseurs ou vos
                    clients. Il est donc important que vos logiciels soient intégrés non seulement à
                    l’intérieur même de votre entreprise mais aussi au sein de votre chaîne logistique
                    afin d’optimiser l’échange de données par le biais de l’interconnexion.
                </p>
                <p>
                    Nous pouvons vous aider à interconnecter vos logiciels entre eux afin de transférer
                    automatiquement les informations d’une application à l’autre vous faisant
                    gagner temps et argent. La même chose est possible avec vos fournisseurs et vos
                    clients.</p>

                    <h6>Sortir des sentiers battus fait toute <br> la différence, et c'est ce que nous faisons.</h6>
                    <a href='{{ $.Scratch.Get "aboutPage" }}' class="read-btn">Découvrez nos réalisation</a>
        </div>
        <!-- // content block  -->                                

    </div>
    <!-- // container  -->
</div>
<!-- // innovation  -->
{{ end }}