/*===================================
=            Base Colors            =
===================================*/

$white:#fff;
$black:#000;

/*=====  End of Base Colors  ======*/

/*=====================================
=            Custom colors            =
=====================================*/

$blue:#0798B9;
$blue-light:#A3C2C5;
$blue-dark:#3F444D;
$yellow:#FEDD00;
$gray-light:#EEEFF0;

$text: #3f444e;

$main-color: $blue!default;

$opacity-bg: rgba(0,0,0,0.2);

/*=====  End of Custom colors  ======*/

/*====================================
=            Font Weights            =
====================================*/

$bold: 700;
$semi-bold: 600;
$regular: 400;
$light: 300;

/*=====  End of Font Weights  ======*/

/*==================================
=            Font Sizes            =
==================================*/

$base-size: 16px;

/*=====  End of Font Sizes  ======*/
