<div class="menu-overlay"></div>

<div class="main-menu-sidebar">
    <header>
        <span>Menu</span>
        <a href="javascript:;" class="close-menu-btn"><img src="/img/ico/close-menu.svg" alt=""></a>
    </header>

    <div id="menu">
        <ul class="nav-links">
          {{- range .Site.Data.menu.links -}}
          {{- $internal := or (eq .external "") (not (isset . "external")) -}}
          <li class="{{- if .submenu.active -}}has-menu{{- end -}}">
            <a href="{{- if not $internal -}}{{- .external -}}{{- else -}}{{- $.Site.BaseURL -}}{{- .link -}}{{- end -}}">
              {{- .text -}}{{ if .submenu.active }} <span></span>{{ end }}
            </a>
            {{- if .submenu.active -}}
            <ul>
              {{- if .submenu.transfert -}}
              {{- range where $.Site.RegularPages "Type" "transfert" -}}
              <li><a href="{{.Permalink}}">{{.Params.titre}}</a></li>
              {{ end }}
              {{- else if .submenu.casestudy -}}
              {{- range where $.Site.RegularPages "Type" "etudes-de-cas" -}}
              <li><a href="{{- .Permalink -}}">{{- .Params.general.title -}}</a></li>
              {{- end -}}
              {{ else }}
              {{- range .submenu.links -}}
              <li><a href="{{- $.Site.BaseURL -}}{{- .link -}}">{{- .text -}}</a></li>
              {{- end -}}
              {{- end -}}
            </ul>
            {{- end -}}
          </li>
          {{- end -}}
        </ul>
        <!-- // ul  -->
    
    </div>
    <!-- // menu  -->

</div>
<!-- // menu sidebar  -->

<div id="search-bar">
    <div class="container">
        <a href="javascript:;" class="menu-btn visible-xs">
            <span></span>
            <span></span>
            <span></span>                    
        </a>
        <!-- // menu btn  -->
        <div class="header-socials hidden-xs">
          {{with .Site.Data.settings.socials.twitter}}
          <a href="{{.}}" target="_blank"><span class="icon-twitter"></span></a>
          {{ end }}
          {{with .Site.Data.settings.socials.facebook}}
          <a href="{{.}}" target="_blank"><span class="icon-fb"></span></a>
          {{ end }}
          {{with .Site.Data.settings.socials.linkedin}}
          <a href="{{.}}" target="_blank"><span class="icon-linkedin"></span></a>
          {{ end }}
          {{with .Site.Data.settings.socials.google}}
          <a href="{{.}}" target="_blank"><span class="icon-googleplus"></span></a>
          {{ end }}
        </div>                          
        <!-- // socials  -->    
    </div>
    <!-- // .container  -->
</div>
<!-- // search bar  -->

<div id="main-top-bar">
    <div class="container">
        <a href="{{ .Site.BaseURL }}" class="company-brand hidden-xs" style="max-height: 100%"><img src="/img/logos/logo-iilq.png" alt=""></a>
        <a href="{{ .Site.BaseURL }}" class="company-brand visible-xs"><img src="/img/logos/logo-couleur.png" alt=""></a>

        <nav class="navbar">
            <ul class="nav navbar-nav">
              {{- range .Site.Data.menu.links -}}
              {{- $internal := or (eq .external "") (not (isset . "external")) -}}
              <li class="{{- if .submenu.active -}}dropdown{{- end -}}">
                <a href="{{- if not $internal -}}{{- .external -}}{{- else -}}{{- $.Site.BaseURL -}}{{- .link -}}{{- end -}}" class="{{- if .submenu.active -}}dropdown-toggle{{- end -}}">
                  {{- .text -}}
                </a>
                {{- if .submenu.active -}}
                <ul class="dropdown-menu animated fadeIn">
                  {{- if .submenu.transfert -}}
                  {{- range where $.Site.RegularPages "Type" "transfert" -}}
                  <li><a href="{{.Permalink}}">{{.Params.titre}}</a></li>
                  {{ end }}
                  {{- else if .submenu.casestudy -}}
                  {{- range where $.Site.RegularPages "Type" "etudes-de-cas" -}}
                  <li><a href="{{- .Permalink -}}">{{- .Params.general.title -}}</a></li>
                  {{- end -}}
                  {{ else }}
                  {{- range .submenu.links -}}
                  <li><a href="{{- $.Site.BaseURL -}}{{- .link -}}">{{- .text -}}</a></li>
                  {{- end -}}
                  {{- end -}}
                </ul>
                {{- end -}}
              </li>
              {{- end -}}
            </ul>
        </nav>

    </div>
    <!-- // .container  -->
</div>
<!-- // main top bar  -->