{{- partial "header/google-tag-manager.html" . -}}
<div class="menu-overlay"></div>

<div class="main-menu-sidebar">
    <header>
        <span>Menu</span>
        <a href="javascript:;" class="close-menu-btn"><img src="/img/ico/close-menu.svg" alt=""></a>
    </header>

    <div id="menu">

        <ul class="nav-links">
            <li><a href="#">Innovation </a> </li>
            <li class="has-menu"> 
            	<a href="#">Transfert </a>
                <ul>
                  <li><a href="#">ERP</a></li>
                  <li><a href="#">WMS</a></li>
                  <li><a href="#">TMS</a></li>
                  <li><a href="#">CRM</a></li>
                  <li><a href="#">RFID</a></li>
                  <li><a href="#">GS1 128</a></li>
                </ul>
            </li>                      
            <li><a href="#">LogisTIC 4.0</a></li>
            <li class="has-menu">
            	<a href="#nothing">IILQ</a>
            	<ul>
            		<li><a href="#">Partenaires</a></li>
            		<li><a href="#">Clients</a></li>
            		<li><a href="{{ .Site.BaseURL }}iilq">À propos</a></li>
            	</ul>
            </li>
            <li><a href="{{ .Site.BaseURL }}contact">Contact</a></li>
            <li><a href="{{ .Site.BaseURL }}articles">Blogue</a></li>
        </ul>
        <!-- // ul  -->
    
    </div>
    <!-- // menu  -->

</div>
<!-- // menu sidebar  -->

<div id="search-bar">
    <div class="container">
        <a href="javascript:;" class="menu-btn visible-xs">
            <span></span>
            <span></span>
            <span></span>                    
        </a>
        <!-- // menu btn  -->
        <input type="text" placeholder="Recherche">
        <button type="search"><span class="icon-if_11_Search_106236"></span></button>      
    </div>
    <!-- // .container  -->
</div>
<!-- // search bar  -->

<div id="main-top-bar">
    <div class="container">
        <a href="{{ .Site.BaseURL }}" class="company-brand hidden-xs" style="max-height: 100%"><img src="/img/logos/logo-gif.gif" alt=""></a>
        <a href="{{ .Site.BaseURL }}" class="company-brand visible-xs"><img src="/img/logos/logo-couleur.png" alt=""></a>

        <nav class="navbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Innovation</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#nothing">Transfert
                <span class="caret"></span></a>
                <ul class="dropdown-menu animated fadeIn">
                  <li><a href="#">ERP</a></li>
                  <li><a href="#">WMS</a></li>
                  <li><a href="#">TMS</a></li>
                  <li><a href="#">CRM</a></li>
                  <li><a href="#">RFID</a></li>
                  <li><a href="#">GS1 128</a></li>
                </ul>
              </li>
              <li><a href="#">LogisTIC 4.0</a></li>
	            <li class="dropdown">
	            	<a href="#nothing" class="dropdown-toggle" data-toggle="dropdown">IILQ
	            	<span class="caret"></span></a>
	            	<ul class="dropdown-menu animated fadeIn">
	            		<li><a href="#">Partenaires</a></li>
	            		<li><a href="#">Clients</a></li>
	            		<li><a href="{{ .Site.BaseURL }}iilq">À propos</a></li>
	            	</ul>
	            </li>
	            <li><a href="{{ .Site.BaseURL }}contact">Contact</a></li>
	            <li><a href="{{ .Site.BaseURL }}articles">Blogue</a></li>
            </ul>
        </nav>

    </div>
    <!-- // .container  -->
</div>
<!-- // main top bar  -->