<footer id="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div id="social-block">
                    <h6>Suivez-nous sur :</h6>
                    <a href="#" target="_blank"><span class="icon-twitter"></span></a>
                    <a href="#" target="_blank"><span class="icon-fb"></span></a>
                    <a href="#" target="_blank"><span class="icon-linkedin"></span></a>
                    <a href="#" target="_blank"><span class="icon-googleplus"></span></a>
                </div>
                <!-- // social  -->
                <div id="newsletter-block">
                    <h6>Inscrivez-vous à l’infolettre!</h6>
                    <div id="form-wrapper">
                        <input type="text" placeholder="Votre nom">
                        <input type="email" placeholder="Courriel">
                        <button type="submit"></button>
                    </div>
                    <!-- // form  -->
                </div>
                <!-- // newsleter bock  -->
            </div>
            <!-- // . col  -->
        </div>
        <!-- // . row  -->
    </div>
    <!-- // .container  -->
</footer>
<!-- // footer  -->

<div class="floating-cta visible-xs">
    <a href="tel:514 364-2640"><img src="/img/ico/phone.svg" alt=""></a>
</div>
<!-- // floating cta  -->