{{- define "main" }}
<main class="main">
	<header id="inner-header">
    <img src="{{- .Params.top.img -}}" alt="{{- .Params.top.title -}}" class="img-responsive">
    <div class="header-caption"></div>
    <!-- // caption  -->
  </header>
  <!-- // inner header  -->

  <div id="etudes-content">
    <div class="container">
      <div class="intro-block">
          <h1>{{- .Params.top.title -}}</h1>
      </div>
      <!-- // intro  -->
      {{- range .Pages -}}
      <div class="content-block hyphenate">
        <h6>{{- .Params.general.title -}}</h6>
        <p>{{- .Params.general.description | markdownify -}}</p>
        <a href="{{- .Permalink -}}" class="read-btn">En savoir plus</a>
      </div>
      {{- end -}}
    </div>
   <!-- // container  -->
</div>
<!-- // foramtion content  -->
</main>
{{- end -}}