<!DOCTYPE html>
<html lang="en">
	<head>
		{{ $.Scratch.Add "homePage" ("/" | absLangURL) }}
		{{ $.Scratch.Add "contactPage" ("contact/" | absLangURL) }}
		{{ $.Scratch.Add "aboutPage" ("iilq/" | absLangURL) }}
		{{ $.Scratch.Add "articlesPage" ("articles/" | absLangURL) }}
		{{ $.Scratch.Add "clientsPage" ("clients-et-partenaires/" | absLangURL) }}
		{{ $.Scratch.Add "logisticPage" ("logistic-4-0/" | absLangURL) }}
		{{ $.Scratch.Add "innovationPage" ("innovation/" | absLangURL) }}
		{{ $.Scratch.Add "transfertPage" ("transfert/" | absLangURL) }}
		{{ if eq .Lang "fr" }}
		{{ $.Scratch.Add "ateliersPage" ("logistic-4-0/ateliers-decouverte/" | absLangURL) }}
		{{ else if eq .Lang "en" }}
		{{ $.Scratch.Add "ateliersPage" ("logistic-4-0/ateliers-decouverte/" | absLangURL) }}
		{{ end }}
		{{ partial "site-head.html" . }}
	</head>
	<body>
		<div id="all-site-wrapper" class="all-site-wrapper">
		  {{ partial "site-header.html" . }}
			<div id="all-content-wrapper" class="all-content-wrapper">
				{{block "main" . }}
				{{end}}
			</div>
			{{ partial "site-footer.html" . }}
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins and libraries -->
    <script src="/js/custom-dist.js"></script> 
		{{- partial "footer/google-analytics.html" . -}}
	</body>
</html>