{{ define "main" }}
<main class="main" id="homepage">
	<header id="hero-header">
      <div id="hero-slider">
          
          <div class="item hero-slide">
            <a href='{{ $.Scratch.Get "ateliersPage" }}'>
              <img src="/img/slide-ateliers-formations.jpg" alt="">
              <div class="slider-caption">
                  <span class="title" data-animation="fadeInDown" data-delay="0.2s">Découvrez nos ateliers</br>et formations</span>
                  <p data-animation="fadeInUp" data-delay="0.2s">afin d'augmenter votre productivité.</p>
              </div>
              <!-- // slider caption  -->
            </a>
          </div>
          <!-- // slider item  -->

          <div class="item hero-slide">
            <a href='{{ $.Scratch.Get "articlesPage" }}'>
              <img src="/img/slide-articles-blogue.jpg" alt="">
              <div class="slider-caption">
                  <p data-animation="fadeInDown" data-delay="0.2s">Curieux d'en apprendre sur l'innovation logistique ? </p>
                  <span class="title" data-animation="fadeInUp" data-delay="0.2s">Consultez nos articles </br>sur le blogue !</span>
              </div>
              <!-- // slider caption  -->
            </a>
          </div>
          <!-- // item  -->

					<div class="item hero-slide">
            <a href='{{ $.Scratch.Get "logisticPage" }}'>
              <img src="/img/slide-potentiel-logistic.jpg" alt="">
              <div class="slider-caption">
                  <p data-animation="fadeInDown" data-delay="0.2s">Atteignez le plein potentiel</br> de votre entreprise grâce à la</p>
                  <span class="title" data-animation="fadeInUp" data-delay="0.2s">Logistic 4.0 ?</span>
              </div>
              <!-- // slider caption  -->
            </a>
          </div>
          <!-- // item  -->	

          <div class="item hero-slide">
            <a href='{{ $.Scratch.Get "contactPage" }}'>
              <img src="/img/slide-optimiser-maillon.jpg" alt="">
              <div class="slider-caption">
                  <p data-animation="fadeInDown" data-delay="0.2s">Nous veillons à optimiser </br>votre chaîne logistique,</p>
                  <span class="title" data-animation="fadeInUp" data-delay="0.2s">un maillon à la fois.</span>
              </div>
              <!-- // slider caption  -->
            </a>
          </div>
          <!-- // item  -->

          <div class="item hero-slide">
            <a href='{{ $.Scratch.Get "contactPage" }}'>
              <img src="/img/slide-optimiser-maillon.jpg" alt="">
              <div class="slider-caption">
                  <p data-animation="fadeInDown" data-delay="0.2s">Apprenez-en plus avec</p>
                  <span class="title" data-animation="fadeInUp" data-delay="0.2s">notre infolettre</span>
              </div>
              <!-- // slider caption  -->
            </a>
          </div>
          <!-- // item  -->


      </div>
      <!-- // hero slider  -->
  </header>
  <!-- // hero  -->

  <section id="main-home-content">
      <div class="container">
          
          <a href='{{ $.Scratch.Get "aboutPage" }}'>
              <div id="about-block">
                  <div class="content">
                      <h1>Qui sommes nous...</h1>
                      <p>Nous sommes un centre collégial de transfert de technologie (CCTT) et de recherche en logistique.</br>
											Nous sommes à l'affût des tendances et implantons l'innovation.</br>
											Nous sommes au service des PME du Québec ! </p>
                  </div>
                  <!-- // content  -->
                  <div class="page-link">
                      <span class="icon-search-icon"></span>
                  </div>
                  <!-- // pag elink  -->
              </div>
              <!-- // about block  -->
          </a>

          <div id="features-block">
              <div class="row">
                  
                  <div class="col-sm-4">
                    <a href='{{ $.Scratch.Get "innovationPage" }}'>
                      <div class="features-box">
                          <div class="icon-holder">
                              <span class="icon-head-ico"></span>
                          </div>
                          <!-- // icon  -->
                          <span class="title">Innovation</span>
                      </div>
                    </a>
                  </div>
                  <!-- // features box  -->

                  <div class="col-sm-4">
                    <a href='{{ $.Scratch.Get "transfertPage" }}'>
                      <div class="features-box">
                          <div class="icon-holder">
                              <span class="ico-shake-hand shake"></span>
                          </div>
                          <!-- // icon  -->
                          <span class="title">Transfert</span>
                      </div>
                    </a>
                  </div>
                  <!-- // features box  -->

                  <div class="col-sm-4">
                    <a href='{{ $.Scratch.Get "logisticPage" }}'>
                      <div class="features-box">
                          <div class="icon-holder small-icon">
                              <span class="icon-ver-ico"></span>
                          </div>
                          <!-- // icon  -->
                          <span class="title">Logistic 4.0</span>
                      </div>
                    </a>
                  </div>
                  <!-- // features box  -->                                                

              </div>
              <!-- // .row  -->
          </div>
          <!-- // features block  -->

          <sectioN id="question-block">
              <a href='{{ $.Scratch.Get "innovationPage" }}'>
              		<div class="link-box">
                      <div class="icon-holder">
                          <span class="ico-head-light"></span>
                      </div>
                  </div>
                  <!-- // link box  -->
                  <div class="content-box">
                      <h3>Faites mieux avec moins, grâce à l'intelligence matérielle</h3>
                  </div>
                  <!-- // content box  -->
                  <div class="image-box">
                      <img src="/half/img/grid-intelligence.jpg" alt="" class="img-responsive">
                  </div>
                  <!-- // image box  -->
                  <span class="clearfix"></span>
              </a>
          </sectioN>
          <!-- // quesiton block  -->

          <section id="formations-block">
              <a href='{{ $.Scratch.Get "ateliersPage" }}'>                       
                  <div class="content-box">
                      <h3>Découvrez nos ateliers et conférences</h3>
                  </div>
                  <!-- // content box  -->                        
                  <div class="link-box">
                      <div class="icon-holder">
                          <span class="icon-chart-ico"></span>
                      </div>
                  </div>
                  <!-- // link box  -->           
                  <div class="image-box">
                      <img src="/half/img/grid-atelier.jpg" alt="" class="img-responsive">
                  </div>
                  <!-- // image box  -->                                      
                  <span class="clearfix"></span>                        
              </a>
          </section>
          <!-- // formations  -->

          <section id="contact-block">
              <a href='{{ $.Scratch.Get "articlesPage" }}'>
                  <div class="content-box">
                      <h3>Découvrir notre blogue</h3>
                  </div>
                  <!-- // content box  -->
                  <div class="link-box">
                      <div class="icon-holder">
                          <span class="icon-monitor-ico"></span>
                      </div>
                  </div>
                  <!-- // link box  -->
                  <div class="image-box">
                      <img src="/half/img/grid-blog.jpg" alt="" class="img-responsive">
                  </div>
                  <!-- // image box  -->  
                  <span class="clearfix"></span>
              </a>                    
          </section>
          <!-- // contact block  -->

          <section id="blog-block">
              <a href='{{ $.Scratch.Get "contactPage" }}'>
                  <div class="link-box">
                      <div class="icon-holder">
                          <span class="icon-mobile-ico"></span>
                      </div>
                  </div>
                  <!-- // link box  --> 
                  <div class="content-box">
                      <h3>Contactez notre équipe</h3>
                  </div>
                  <!-- // content box  --> 
                  <div class="image-box">
                      <img src="/half/img/grid-contact.jpg" alt="" class="img-responsive">
                  </div>
                  <!-- // image box  -->                       
                  <span class="clearfix"></span>                        
              </a>
          </section>
          <!-- // blog block  -->

      </div>
      <!-- // container  -->
  </section>
  <!-- // main home content  -->
</main>
{{ end }}