{{ define "main" }}
<main class="main" id="homepage">
	<header id="hero-header">
        <div id="hero-slider">
            {{ range .Params.slider }}
            {{ $link := .link}}
            <div class="item hero-slide">
                <a href="{{- $.Site.BaseURL -}}{{- .link -}}">
                <img src="{{- .img -}}" alt="">
                <div class="slider-caption">
                    {{ if eq .layout 1}}
                    <span class="title" data-animation="fadeInDown" data-delay="0.2s">{{.toptxt | markdownify}}</span>
                    <p data-animation="fadeInUp" data-delay="0.2s">{{.bottomtxt | markdownify}}</p>
                    {{ else if eq .layout 2 }}
                    <p data-animation="fadeInDown" data-delay="0.2s">{{.toptxt | markdownify}}</p>
                    <span class="title" data-animation="fadeInUp" data-delay="0.2s">{{.bottomtxt | markdownify}}</span>
                    {{ end }}
                </div>
                <!-- // slider caption  -->
                </a>
            </div>
            <!-- // slider item  -->
            {{ end }}

        </div>
        <!-- // hero slider  -->
    </header>
    <!-- // hero  -->

    <section id="main-home-content">
        <div class="container">
            <a href='{{ $.Scratch.Get "aboutPage" }}'>
                <div id="about-block">
                    <div class="content">
                        {{.Params.introtext | markdownify}}
                    </div>
                    <!-- // content  -->
                    <div class="page-link">
                        <span class="icon-search-icon"></span>
                    </div>
                    <!-- // pag elink  -->
                </div>
                <!-- // about block  -->
            </a>
            {{- with .Params.section2 -}}
            <div id="features-block">
                <div class="row">
                    <div class="col-sm-4">
                        <a href='{{ $.Scratch.Get "innovationPage" }}'>
                            <div class="features-box">
                                <div class="icon-holder">
                                    <span class="icon-head-ico"></span>
                                </div>
                                <!-- // icon  -->
                                <span class="title">{{- .title1 -}}</span>
                            </div>
                        </a>
                    </div>
                    <!-- // features box  -->

                    <div class="col-sm-4">
                        <a href='{{ $.Scratch.Get "transfertPage" }}'>
                            <div class="features-box">
                                <div class="icon-holder">
                                    <span class="ico-shake-hand shake"></span>
                                </div>
                                <!-- // icon  -->
                                <span class="title">{{- .title2 -}}</span>
                            </div>
                        </a>
                    </div>
                    <!-- // features box  -->

                    <div class="col-sm-4">
                        <a href='{{ $.Scratch.Get "logisticPage" }}'>
                            <div class="features-box">
                                <div class="icon-holder small-icon">
                                    <span class="icon-ver-ico"></span>
                                </div>
                                <!-- // icon  -->
                                <span class="title">{{- .title3 -}}</span>
                            </div>
                        </a>
                    </div>
                    <!-- // features box  -->                                                
                </div>
                <!-- // .row  -->
            </div>
            <!-- // features block  -->
            {{- end -}}
            {{- with .Params.boites.boite1 -}}
            {{- if .visible -}}
            <section id="question-block">
                <a href="{{- $.Site.BaseURL -}}{{- .link -}}">
                    <div class="link-box">
                        <div class="icon-holder">
                            <span class="ico-head-light"></span>
                        </div>
                    </div>
                    <!-- // link box  -->
                    <div class="content-box">
                        <h3>{{- .title -}}</h3>
                    </div>
                    <!-- // content box  -->
                    <div class="image-box">
                        <img src="/half{{- .img -}}" alt="IILQ" class="img-responsive">
                    </div>
                    <!-- // image box  -->
                    <span class="clearfix"></span>
                </a>
            </section>
            {{- end -}}
            <!-- // quesiton block  -->
            {{- end -}}

            {{- with .Params.boites.boite2 -}}
            {{- if .visible -}}
            <section id="formations-block">
                <a href="{{- $.Site.BaseURL -}}{{- .link -}}">                       
                    <div class="content-box">
                        <h3>{{- .title -}}</h3>
                    </div>
                    <!-- // content box  -->                        
                    <div class="link-box">
                        <div class="icon-holder">
                            <span class="icon-chart-ico"></span>
                        </div>
                    </div>
                    <!-- // link box  -->           
                    <div class="image-box">
                        <img src="/half{{- .img -}}" alt="IILQ" class="img-responsive">
                    </div>
                    <!-- // image box  -->                                      
                    <span class="clearfix"></span>                        
                </a>
            </section>
            <!-- // formations  -->
            {{- end -}}
            {{- end -}}

            {{- with .Params.boites.boite3 -}}
            {{- if .visible -}}
            <section id="contact-block">
                <a href="{{- $.Site.BaseURL -}}{{- .link -}}">
                    <div class="content-box">
                        <h3>{{- .title -}}</h3>
                    </div>
                    <!-- // content box  -->
                    <div class="link-box">
                        <div class="icon-holder">
                            <span class="icon-monitor-ico"></span>
                        </div>
                    </div>
                    <!-- // link box  -->
                    <div class="image-box">
                        <img src="/half{{- .img -}}" alt="IILQ" class="img-responsive">
                    </div>
                    <!-- // image box  -->  
                    <span class="clearfix"></span>
                </a>                    
            </section>
            <!-- // contact block  -->
            {{- end -}}
            {{- end -}}

            {{- with .Params.boites.boite4 -}}
            {{- if .visible -}}
            <section id="blog-block">
                <a href="{{- $.Site.BaseURL -}}{{- .link -}}">
                    <div class="link-box">
                        <div class="icon-holder">
                            <span class="icon-mobile-ico"></span>
                        </div>
                    </div>
                    <!-- // link box  --> 
                    <div class="content-box">
                        <h3>{{- .title -}}</h3>
                    </div>
                    <!-- // content box  --> 
                    <div class="image-box">
                        <img src="/half{{- .img -}}" alt="IILQ" class="img-responsive">
                    </div>
                    <!-- // image box  -->                       
                    <span class="clearfix"></span>                        
                </a>
            </section>
            <!-- // blog block  -->
            {{- end -}}
            {{- end -}}

        </div>
        <!-- // container  -->
    </section>
    <!-- // main home content  -->
</main>
{{ end }}