{{ define "main" }}
<main class="main" id="homepage">
	<header id="hero-header">
      <div id="hero-slider">
          
          <div class="item hero-slide">
              <img src="img/slider/slider1.jpg" alt="">
              <div class="slider-caption">
                  <span class="title" data-animation="fadeInDown" data-delay="0.2s">L’IILQ</span>
                  <p data-animation="fadeInUp" data-delay="0.2s">est un centre de recherche appliquée en logistique, au service des PME du Québec</p>
              </div>
              <!-- // slider caption  -->
          </div>
          <!-- // slider item  -->

          <div class="item hero-slide">
              <img src="img/slider/slider2.jpg" alt="">
              <div class="slider-caption">
                  <span class="title" data-animation="fadeInDown" data-delay="0.2s">L’IILQ</span>
                  <p data-animation="fadeInUp" data-delay="0.2s">est un centre de recherche appliquée en logistique, au service des PME du Québec</p>
              </div>
              <!-- // slider caption  -->
          </div>
          <!-- // slider item  -->


      </div>
      <!-- // hero slider  -->
  </header>
  <!-- // hero  -->

  <section id="main-home-content">
      <div class="container">
          
          <a href="#">
              <div id="about-block">
                  <div class="content">
                      <h1>Qui sommes nous...</h1>
                      <p>L’Institut d'innovation logistique du Québec est un centre collégial de transfert de technologie (CCTT) en logistique. L’IILQ est membre du Réseau Trans-tech, le réseau des CCTTs.</p>
                  </div>
                  <!-- // content  -->
                  <div class="page-link">
                      <span class="icon-search-icon"></span>
                  </div>
                  <!-- // pag elink  -->
              </div>
              <!-- // about block  -->
          </a>

          <div id="features-block">
              <div class="row">
                  
                  <div class="col-sm-4">
                      <div class="features-box">
                          <div class="icon-holder">
                              <span class="icon-head-ico"></span>
                          </div>
                          <!-- // icon  -->
                          <span class="title">Innovation</span>
                      </div>
                  </div>
                  <!-- // features box  -->

                  <div class="col-sm-4">
                      <div class="features-box">
                          <div class="icon-holder">
                              <span class="icon-pc-diamond"></span>
                          </div>
                          <!-- // icon  -->
                          <span class="title">transfert</span>
                      </div>
                  </div>
                  <!-- // features box  -->

                  <div class="col-sm-4">
                      <div class="features-box">
                          <div class="icon-holder">
                              <span class="icon-ver-ico"></span>
                          </div>
                          <!-- // icon  -->
                          <span class="title">Logistic 4.0</span>
                      </div>
                  </div>
                  <!-- // features box  -->                                                

              </div>
              <!-- // .row  -->
          </div>
          <!-- // features block  -->

          <sectioN id="question-block">
              <a href="#">
                  <div class="content-box">
                      <h3>Questions relatives à la logistique ?</h3>
                  </div>
                  <!-- // content box  -->
                  <div class="link-box">
                      <div class="icon-holder">
                          <span class="icon-question-ico"></span>
                      </div>
                  </div>
                  <!-- // link box  -->
                  <div class="image-box">
                      <img src="img/misc/questions.jpg" alt="" class="img-responsive">
                  </div>
                  <!-- // image box  -->
                  <span class="clearfix"></span>
              </a>
          </sectioN>
          <!-- // quesiton block  -->

          <section id="formations-block">
              <a href="#">                       
                  <div class="content-box">
                      <h3>Découvrir nos formations</h3>
                  </div>
                  <!-- // content box  -->                        
                  <div class="link-box">
                      <div class="icon-holder">
                          <span class="icon-chart-ico"></span>
                      </div>
                  </div>
                  <!-- // link box  -->           
                  <div class="image-box">
                      <img src="img/misc/formations.jpg" alt="" class="img-responsive">
                  </div>
                  <!-- // image box  -->                                      
                  <span class="clearfix"></span>                        
              </a>
          </section>
          <!-- // formations  -->

          <section id="contact-block">
              <a href="#">
                  <div class="content-box">
                      <h3>Questions relatives à la logistique ?</h3>
                  </div>
                  <!-- // content box  -->
                  <div class="link-box">
                      <div class="icon-holder">
                          <span class="icon-mobile-ico"></span>
                      </div>
                  </div>
                  <!-- // link box  -->
                  <div class="slider-box">
                      <div class="slider-holder">
                          <div class="testimonial-slider">
                              
                              <div class="item">
                                  <div class="test-box">
                                      <p>Quis volum quam ipis et quas et eum sundae sitiae voloreh endende raernation rest aliae nimos iur, sequis eum nem volut offic tet eos </p>
                                  </div>
                              </div>
                              <!-- // tes tbox  -->

                              <div class="item">
                                  <div class="test-box">
                                      <p>Quis volum quam ipiae voloreh endende raernation rest aliae nimos iur, sequis eum nem volut offic tet eos </p>
                                  </div>
                              </div>
                              <!-- // tes tbox  -->

                          </div>
                          <!-- // test slider  -->
                      </div>
                      <!-- // slider holder  -->
                  </div>
                  <!-- // image box  -->
                  <span class="clearfix"></span>
              </a>                    
          </section>
          <!-- // contact block  -->

          <section id="blog-block">
              <a href="#">
                  <div class="image-box">
                      <img src="img/misc/blog.jpg" alt="" class="img-responsive">
                  </div>
                  <!-- // image box  -->                        
                  <div class="content-box">
                      <h3>Découvrir notre blogue</h3>
                  </div>
                  <!-- // content box  -->                        
                  <div class="link-box">
                      <div class="icon-holder">
                          <span class="icon-monitor-ico"></span>
                      </div>
                  </div>
                  <!-- // link box  -->                        
                  <span class="clearfix"></span>                        
              </a>
          </section>
          <!-- // blog block  -->

      </div>
      <!-- // container  -->
  </section>
  <!-- // main home content  -->
</main>
{{ end }}