{{ define "main" }}
<header id="inner-header">
    <img src="{{.Params.image}}" alt="" class="img-responsive">
    <div class="header-caption">
        
    </div>
    <!-- // caption  -->
</header>
<!-- // inner header  -->

<div id="formation-content">
   <div class="container">
       
        <div class="intro-block">
            <h1>{{.Params.titre}}</h1>
        </div>
        <!-- // intro  -->

        <div class="content-block">
            <h2><strong>Saviez-vous que...</strong></h2>
            <p>Selon Rebolledo et Roy, le Centre sur la productivité et la prospérité de HEC Montréal, les activités logistiques sont faiblement imparties et sont gérées à l’interne.</p>
            <img src="/img/tableau-transfert-bleu.png" alt="" class="img-responsive">
            <p>Toujours selon Rebolledo et Roy, les entreprises n’utilisent pas les dernières technologies disponibles pour gérer leurs activités logistiques.</p>
            <img src="/img/tableau-transfert-jaune.png" alt="" class="img-responsive">
        </div>
        <!-- // content block  -->

        <div class="content-block hyphenate">
            <h2><strong>Nous partageons notre savoir</strong></h2>
            <p>Le retard des entreprises québécoises à adopter les progiciels de gestion spécialisés en
            logistique nuit à leur compétitivité et réduit d’autant leur capacité à croître. C’est
            pourquoi nous encourageons l’innovation et vous transférons notre savoir technologique
            afin de vous aider à vous démarquer davantage de vos concurrents.</p>
            <p>Nous croyons au concept selon lequel l'innovation ne réside pas seulement dans la
            création de la toute dernière technologie. Bien que la nouveauté soit un facteur de l'innovation,
            c'est plutôt les différentes façons d’utiliser une technologie qui mène à l'innovation.
            Nous avons donc comme objectif de vous aider à améliorer votre performance en
            trouvant de nouvelles manières d'exploiter les outils technologiques disponibles.</p>
        </div>
        <!-- // content block  -->    

        <div class="content-block hyphenate">
            <h2><strong>Nous vous outillons</strong></h2>
            <p>L’échange d’informations et de connaissances alimente l’acquisition de compétences logistiques et c’est que nous prônons à l’IILQ. Nous voulons contribuer à votre développement et à votre succès en vous outillant pour suivre l’évolution du marché. <br>
            <p><a href="/transfert/erp">ERP :</a> votre flux d’activités intégré et votre prise de décision facilitée <br>
               <a href="/transfert/wms">WMS :</a> la gestion de votre inventaire et vos commandes de produits simplifiées <br>
               <a href="/transfert/tms">TMS :</a> la gestion de vos transports optimisée <br>
               <a href="/transfert/crm">CRM :</a> vos relations clients améliorées <br>
               <a href="/transfert/rfid">RFID :</a> des puces pour retracer facilement vos produits <br>
               <a href="/transfert/gs1-128">GS1 128 :</a> le code-barre qui en fait plus</p>
        </div>
        <!-- // content block  -->       

        <div class="content-block hyphenate">
            <h2><strong>Nous vous proposons une solution gagnante</strong></h2>
            <p>L’IILQ commence par évaluer vos besoins et les technologies déjà implantées afin d’en
            analyser le potentiel d’exploitation. </p>
            <p>S’il y a lieu, nous vous aidons à trouver les meilleures technologies disponibles répondant
            spécifiquement à vos besoins actuels et futurs.</p>
            <p>Pour ce faire, nous procédons à une analyse détaillée de vos processus d’affaires, de vos
            politiques et procédures ainsi que de votre plan d’affaires sur cinq ans. Investir dans vos
            outils technologiques s’avère un investissement important afin d’en assurer la pérennité
            à moyen long terme. C’est pourquoi l’analyse de vos besoins sur un horizon de plusieurs
            années est primordiale afin d’instaurer une solution gagnante.</p>
            <h6>Découvrez notre offre de service</h6>
            <a href='{{ $.Scratch.Get "contactPage" }}' class="read-btn">{{ i18n "contact" }}</a>
        </div>
        <!-- // content block  -->                                          

   </div>
   <!-- // container  -->
</div>
<!-- // foramtion content  -->

{{ end }}