{{ define "main" }}
<header id="transfer-header" class="yellow-border">
    <img src="/img/erp.jpg" alt="" class="img-responsive">
    <div class="header-caption">
        
    </div>
    <!-- // caption  -->
</header>
<!-- // inner header  -->

<div class="container">
<div id="transfer-single-content">

    <div class="row">
        
        <div class="col-lg-9 col-md-8 col-sm-8">
            <div class="single-content">
                <h2>TMS</h2>
                <h3>Qu’est-ce que c’est ?</h3>
                <p>Le Transport Management System est un progiciel souvent complémentaire à un progiciel
                ERP ou encore un système WMS. Il sert spécifiquement à gérer l’ensemble des opérations
                liées aux transports des matières, des marchandises et des produits finis. Le logiciel peut
                être adapté en fonction du transport : TL (charge complète), LTL (charge partielle) et
                intermodal (combinaison de plusieurs modes de transport).</p>
                <ul>
                    <li>Optimisation du processus de gestion</li>
                    <li> Interconnexion des départements</li>
                    <li> Traçabilité de l’information grâce aux données obtenues en temps réel</li>
                    <li> Standardisation des processus de production</li>
                    <li> Maîtrise des coûts, des délais de fabrication et de la distribution</li>
                    <li> Augmentation de la productivité globale</li>
                </ul>
                <p><strong>Il existe de nombreux choix d’ERP dans une multitude de domaines spécialisés, il peut donc s’avérer difficile de choisir la solution convenant à vos besoins.</strong></p>
            </div>
        </div>
        <!-- // single content  -->

        <div class="col-lg-3 col-md-4 col-sm-4">
            <div class="single-sidebar-transfer">
                
                <div class="subpages-box">
                    <h5>ARTICLE PAR SUJET</h5>
                    <ul>
                        <li><a href="#">ERP</a></li>
                        <li><a href="#">WMS</a> </li>
                        <li><a href="#">TMS</a> </li>
                        <li><a href="#">CRM</a> </li>
                        <li><a href="#">RFID</a> </li>
                        <li><a href="#">GSI 128</a> </li>
                    </ul>
                </div>
                <!-- // category  -->

                <div class="blog-sidebar">
                    <h4>Articles populaire</h4>

                <div class="popular-articles-slider-sidebar">
                    
                    <div class="item">
                        <div class="article-box">
                            <img src="/img/blgo1.jpg" alt="" class="img-responsive">
                            <a href="#">
                                <div class="article-caption">
                                    <h6>Transfert de technologie</h6>
                                    <p>Ulparcie ndelentemo cor aut...</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- // article  -->
                    
                    <div class="item">
                        <div class="article-box">
                            <img src="/img/blgo1.jpg" alt="" class="img-responsive">
                            <a href="#">
                                <div class="article-caption">
                                    <h6>Transfert de technologie</h6>
                                    <p>Ulparcie ndelentemo cor aut...</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- // article  -->                                                                                                                


                </div>
                <!-- // slider  -->

                </div>
                <!-- // sidebar  -->

            </div>
        </div>
        <!-- // sidebar  -->

    </div>
    <!-- // row   -->

        <footer>
            <div class="row">
                <div class="col-md-6">
                    <h5>Nous sommes prêts à optimiser votre chaîne logistique, l’êtes-vous ?</h5>
                </div>
                <div class="col-md-6">
                    <a href="#">Contactez-nous</a>
                </div>
            </div>
        </footer>

</div>
<!-- // foramtion content  -->
</div>
<!-- // container  -->
{{ end }}